<div class="container">
  <h3>会員別フォローしてる人一覧（＝有名人）</h3>
  <% if @users.exists? %>
    <%= render "public/relationships/follow_list", users: @users %>
  <% else %>
    <p>フォローしているユーザーがいません～！</p>
    <% if @user == current_user %>
      <%= link_to "気になるユーザーを探しに行く！", root_path, class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>
