<div class="container mx-auto">
  <h3 class="text-center">ABOUT　～FitHapiとは～</h3>
  <p>\筋トレ × コミュニティサイト/</p>

  <p>「筋トレメニューをたくさん知りたい、知ってほしい」</br>
    「毎日の頑張りを記録に残したい」</br>
    「お気に入りのメニューを登録しておいていつでも見られるようにしたい」</br>
    「筋トレを一緒に頑張る仲間を見つけたい」</p>
  
  <p>そんな気持ちを一つのサイトでまとめて解決することをコンセプトに作ったサイトです。</br>
    </br>
    会員登録すると「記事投稿機能」、「いいね(ブックマーク)機能」、「まいトレ機能」など様々な機能を使えるようになります。</br>
    ぜひ会員登録をして、楽しいFitness生活を始めてください！</p>
</div>
