<div class="container">
  <h3>ヘルプ・FAQ</h3>
  <br>
  <h4>Q.まいトレってなに？</h4>
  <p class="answer">A.まいトレとは、「毎日やるマイトレーニング」の略称です<br>
    お気に入りのトレーニングメニューの名前やセット数、参考にしている記事のURLなどを登録して<br>
    日々のトレーニングに役立ててください！
  </p>
  <br>
  <h4>Q.アカウントとニックネームの違いはなに？</h4>
  <p class="answer">A.アカウントは自分のFitHapi上でのお名前、ニックネームは他のユーザーさんから呼ばれたいお名前と考えてください。<br>
    注意点として、アカウントは4文字以上で半角の英数字のみで他のユーザーさんと重複できません。<br>
    ニックネームでは15文字までの字数制限となっていますが、日本語も使えます。<br>
  </p>
  <br>
  <h4>Q.問い合わせ先は無いの？</h4>
  <p class="answer">A.申し訳ありません。問い合わせフォームは現在未開設となっています。今後、実装予定にあります。<br>
    問い合わせや要望等ございましたら<%= link_to "こちらの記事", article_path(@article) %>のコメントへ記入していただけますと幸いです。<br>
    ご迷惑をおかけして申し訳ありません。
  </p>

</div>

