<div class="container py-3">
    <h3 class="text-center">FitHapi ~みんなでFitnessしてHappyになろう~</h3>
    <%= render "public/sidebar", categories: @categories, tags: @tags %>
    <div class="main-contents">

    </div>
</div>
