<div class="container">
  <div class="col-8 mx-auto">
    <h3>FitHapi管理者トップページ</h3>
    <table class="table table-bordered table-hover col-5 text-center mt-3">
      <tbody>
        <tr>
          <td><%= link_to "記事一覧", admin_articles_path %></td>
        </tr>
        <tr>
          <td><%= link_to "会員一覧", admin_users_path %></td>
        </tr>
        <tr>
          <td><%= link_to "カテゴリー一覧", admin_categories_path %></td>
        </tr>
        <tr>
          <td><%= link_to "タグ一覧", admin_tags_path %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>