<div class="container py-3">
  <div class="main row mt-5">
    <div class="sidebar col-3">
      <%= render "public/sidebar", categories: @categories, tags: @tags %>
    </div>
    <div class="main-contents col-9">
      <h3>カテゴリー一覧</h3>
      <table class="table table-hover table-inverse text-center">
        <tbody>
        <% @category.each do |category| %>
          <tr>
            <td>
              <%= link_to category_path(category) do %>
                <%= category.name %>（<%= category.articles.where(status: 0).count %>件）
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>