@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "button";

@charset "UTF-8";
*{
  margin:0;
  padding: 0;
}

#viewer{
  width: 100%;
 }

.navbar{
  background-color: #FFFFAA;
  height: 100px;
}

footer{
  background-color: #FFFFAA;
  height: 100px;
}


footer p{
   text-align: center;
   }

.user_page-user_image{
  text-align : center
}

.user_page-follow_btn{
  text-align : center
}


.link-btn{
  border: 2px solid #FF773E;
  background: #FF773E;
  border-radius: 50vh;
  color: #fff;
  padding: 0 5px;
}

.text-success{
  color: #33CC33;
}

.text-muted{
  color: #FF3300;
}

.search_method{
  border: 2px solid #000080;
  color: #000080;
  margin: 5px;
  border-radius: 30px;
}

.search_method:hover {
  background-color: #C0C0C0;
}

.select_method {
  background-color: #5D99FF;
}