<div class="border-top border-dark pt-2">
  <div class="container">
    <div class="text-center">
      <%= link_to 'FitHapiとは', about_path %>
      <%= link_to '利用規約', policy_agreement_path %>
      <%= link_to 'ヘルプ・FAQ', help_path %>
    </div>
  </div>
</div>